.center-pane{
    -fx-background-color:#EAEEF4;
    -fx-border-color: transparent;
}

.login_ankerpane{
    -fx-background-color: linear-gradient(to top, #353A56, #03346E, rgba(173, 216, 230, 0.5));
    -fx-border-radius: 20px;
    -fx-background-radius: 20px; 
}

.signup_ankerpane{
    -fx-background-color:whitesmoke;
    -fx-border-radius: 0 30px 30px 0;
    -fx-background-radius: 0 30px 30px 0; 
}

.login_input{
    -fx-border-radius: 50px; 
    -fx-border-color: D7D7D7;
    -fx-background-color: rgba(240, 248, 255, 0.9); 
    -fx-background-radius: 50px; 
    -fx-padding: 10; 
    -fx-cursor: hand;
    -fx-text-fill: #333; 
}

.login_input:hover {
    -fx-effect: dropshadow(three-pass-box, #ADD8E6, 5, 0, 0, 0);
    -fx-background-color: rgba(255, 255, 255, 0.8)
}

.btn_login {
    -fx-background-color: transparent;
    -fx-border-radius: 40px; 
    -fx-background-radius: 40px; 
    -fx-border-color: linear-gradient(to top, #ADD8E6, #03346E, #ADD8E6);
    -fx-text-fill: white; 
    -fx-cursor: hand;
}

.btn_login:hover {
    -fx-background-color: rgba(173, 216, 230, 0.1); 
    -fx-text-fill: white; 
}

.btn_signup {
    -fx-background-color: rgba(173, 216, 230, 0.1); 
    -fx-border-radius: 40px; 
    -fx-background-radius: 40px; 
    -fx-border-color: linear-gradient(to top, #ADD8E6, #03346E, #ADD8E6);
    -fx-text-fill: #353A56; 
    -fx-cursor: hand;
}

.btn_signup:hover {
    -fx-background-color: rgba(173, 216, 230, 0.2); 
    -fx-text-fill: #353A56; 
}

.bg-header{
    -fx-background-color: #fff;
}

.search_box{
    -fx-border-radius: 50px; 
    -fx-border-color: D7D7D7;
    -fx-background-color: white;
    -fx-background-radius: 50px; 
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
    -fx-cursor: hand;
}

.side_ankerpane{
    -fx-background-color:#353A56;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 0 20px 20px 0;
    -fx-border-style: solid;
    -fx-border-color: #748CF1;
    -fx-background-radius: 0 20px 20px 0; 
}

.inner_pane{
    -fx-background-color:#748CF1;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #748CF1;
}

.most_inner_pane{
    -fx-background-color:#6780E2;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 120px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #748CF1;
}

.btn_dashboard {
    -fx-background-color: transparent;
    -fx-background-radius: 50px;
    -fx-text-fill: white; 
    -fx-cursor:hand;
    -fx-alignment: CENTER-LEFT;
}

.btn_dashboard:focused {
    -fx-background-color: #141313; 
    -fx-text-fill: white;  
    -fx-border-radius: 50px;
}
.btn_dashboard:hover {
    -fx-background-color: #141313; 
    -fx-text-fill: white; 
}

.card_1{
    -fx-background-color: linear-gradient(to right, #FE7A36, #FFBD73, #FFF5CD);
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.card_2{
    -fx-background-color: linear-gradient(to right, #ace5ff, #c0e6ff, rgba(173, 216, 230, 0.5));
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.card_4{
    -fx-background-color: linear-gradient(to top, #FF8383, #ffb3b3, #ffe6e6);
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 16px;
    -fx-background-radius: 16px;
}

.card_3{
    -fx-background-color: linear-gradient(to right, FB4141, #FF8383, #FBB4A5);
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.card_5{
    -fx-background-color: linear-gradient(to top, #07173F, #6780e2, #92a4ea);;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.shadow_light{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5,0,0,0);
}

.pane_1111{
    -fx-background-color:#353A56;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 16px;
    -fx-background-radius: 16px;
    -fx-border-style: solid;
    -fx-border-color: #353A56;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.left_pane{
    -fx-background-color: #D3D3D3;
}

.rounded_layout{
    -fx-border-radius: 50px; 
    -fx-border-color: D7D7D7;
    -fx-background-color: whitesmoke;
    -fx-background-radius: 50px; 
    -fx-cursor: hand;
}

.rounded_layout:hover {
    -fx-effect: dropshadow(three-pass-box, #ADD8E6, 8, 0, 0, 0);
}

.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 8,0,0,0);
}

.shadow_signup{
    -fx-effect: dropshadow(three-pass-box, #ADD8E6, 8, 0, 0, 0);
}

.white-bg{
    -fx-background-color: #fff;
    -fx-background-radius: 8px;
}

.sales_pane{
    -fx-border-radius: 8px; 
    -fx-border-color: #D7D7D7;
    -fx-background-color: transparent;
    -fx-background-radius: 8px; 
}

.gray_pane{
    -fx-border-radius: 8px; 
    -fx-border-color: white;
    -fx-background-color: white;
    -fx-background-radius: 8px; 
    -fx-border-color: #D7D7D7;
}

.upload_pane{
    -fx-border-radius: 8px; 
    -fx-background-color: #D3D3D3;
    -fx-background-radius: 8px; 
}


.btn_return {
    -fx-background-color: #FF2929;
    -fx-border-radius: 20px; 
    -fx-background-radius: 20px; 
    -fx-text-fill: white; 
    -fx-cursor: hand;
}


.btn_checkticket {
    -fx-background-color: #353A56;
    -fx-border-radius: 0 0 20px 20px; 
    -fx-background-radius: 0 0 20px 20px; 
    -fx-text-fill: white; 
    -fx-cursor: hand;
}

.btn_checkticket:hover {
    -fx-background-color: #121843; 
    -fx-text-fill: white; 
}

.btn_add {
    -fx-background-color: #748CF1;
    -fx-background-radius: 50px;
    -fx-text-fill: white; 
    -fx-cursor:hand;
}

.btn_add:hover {
    -fx-background-color: #353A56; 
    -fx-text-fill: white; 
}

.btn_SeatInventory {
    -fx-background-color: #353A56;
    -fx-border-radius: 20px; 
    -fx-background-radius: 20px; 
    -fx-text-fill: white; 
    -fx-cursor: hand;
}

.btn_SeatInventory:hover {
    -fx-background-color: #748CF1; 
    -fx-text-fill: white; 
}

.btn_clear {
    -fx-background-color: #fff;
    -fx-background-radius: 50px;
    -fx-text-fill: black; 
    -fx-cursor:hand;
    -fx-border-style: solid;
    -fx-border-color: grey;
    -fx-border-radius: 20px;
}

.btn_clear:hover {
    -fx-background-color: whitesmoke; 
    -fx-text-fill: black; 
}

.btn_search {
    -fx-background-color: #353A56;
    -fx-background-radius: 50px;
    -fx-text-fill: white; 
    -fx-cursor:hand;
}

.btn_search:hover {
    -fx-background-color: #748CF1; 
    -fx-text-fill: white; 
}

.combobox{
    -fx-background-color: white;
    -fx-border-color:#a7a7a7;
    -fx-font-family:"Tahoma";
    -fx-font-size:13px;
    -fx-background-radius: 5px; 
    -fx-border-radius:5px;
    -fx-border-width:.8px;
}
.combobox:focused{
    -fx-border-color: #add8e6;
    -fx-border-width:1.8px;
}

.table-view{
-fx-border-color: linear-gradient(to top, #353A56, #03346E);
-fx-border-width: 2px;
-fx-padding: 0px;
-fx-border-radius: 10px;
-fx-background-color: transparent;
}
.table-view .table-column{
-fx-alignment: CENTER;
}
.table-view .column-header-background{
-fx-background-color: #353A56;
-fx-background-radius: 8px 8px 0px 0px;
-fx-background-insets: 0 0 0 0;
}
.table-view .column-header, .filter{
-fx-background-color: transparent;
-fx-size: 40px;
}
.table-view .column-header .label{
-fx-text-fill: #fff;
}

.titled-pane .titled-pane-title {
-fx-background-color: #3498db; /* Header background color /
-fx-text-fill: white; / Title text color */
}

.titled-pane:focused {
-fx-border-color: #2980b9; /* Optional border when focused */
}

.chart-bar.series0 {
    -fx-bar-fill: #FE7A36; /* Revenue */
    -fx-background-radius: 0; /* No rounded corners for Revenue */
}

.chart-bar.series1 {
    -fx-bar-fill: #FFC55A; /* Profit */
    -fx-background-radius: 10 10 0 0; /* Rounded top-left and top-right corners for Profit */
}

.chart {
    -fx-padding: 10;
    -fx-background-radius: 10; /* Top-left and top-right corners */
    -fx-background-color: white; /* Optional: Background color */
    -fx-border-radius: 10 10 10 10;
}

